

.search-form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.search-label{
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
}

.search-input{
    border-radius: 8px;
    border: 1px solid transparent;
    height: 48px;
    padding-left: 8px;
    font-size: 24px;
}

.search-input:focus {
    outline: unset;
}

.to-be-filtered-list {
    list-style: none;
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
}

.User-list-item {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 24px;
    border-radius: 16px;
    border: 1px solid transparent;
    background-color: blueviolet;
    color: white;
}

.list-label {
    font-weight: 600;
    font-size: 18px;
    margin-right: 8px;
    
}